<ion-content>
    <div class="wrapper">

        <div class="wrapper__encabezado">
            <div class="wrapper__encabezado--logo">
            </div>
        </div>

        <div class="wrapper__negro"></div>
        <div class="wrapper__arriba"></div>
        <div class="wrapper__abajo"></div>

        <div class="wrapper__container">

            <div class="wrapper__container--content">

                <h4 class="titulo">Iniciar Sesión</h4>

                <ion-grid class="btnRedes">
                    <ion-row>

                        <ion-col>
                            <button class="button button-clear">
                                <img src="../../../assets/img/google.svg" width="60" alt="">
                            </button>
                        </ion-col>

                        <ion-col>
                            <button class="button button-clear">
                                <img src="../../../assets/img/facebook.svg" width="60" alt="">
                            </button>
                        </ion-col>

                    </ion-row>
                </ion-grid>

                <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                    <div class="datos">
                        <ion-grid>
                            <ion-row>
                                <ion-col size="12">
                                    <ion-input class="entradaForm entradaMail" type="text" id="inp" placeholder="E-mail" formControlName="email" [class.is-invalid]="emailNoValido"></ion-input>
                                    <small *ngIf="emailNoValido">Ingrese un email válido</small>
                                </ion-col>
                                <ion-col size="10" *ngIf="!activatePass">
                                    <ion-input class="entradaForm entradaPass" type="password" id="inp" placeholder="Contraseña" formControlName="password" [class.is-invalid]="passwordNoValido"></ion-input>
                                    <small *ngIf="passwordNoValido">La contraseña debe ser de 8 caracteres mínimo.</small>
                                </ion-col>
                                <ion-col size="10" *ngIf="activatePass">
                                    <ion-input class="entradaForm entradaPass" type="text" id="inp" placeholder="Contraseña" formControlName="password" [class.is-invalid]="passwordNoValido"></ion-input>
                                    <small *ngIf="passwordNoValido">La contraseña debe ser de 8 caracteres mínimo.</small>
                                </ion-col>
                                <ion-col size="2">
                                    <button *ngIf="!activatePass" class="button">
                                        <ion-icon class="eye" name="eye" id="eye" (click)="togglePasswordModeTrue()"></ion-icon>
                                    </button>
                                    <button *ngIf="activatePass" class="button" (click)="togglePasswordModeFalse()">
                                        <ion-icon class="eye" name="eye-off" id="eye"></ion-icon>
                                    </button>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </div>
                    <ion-grid class="btnActions">
                        <ion-col>
                            <button class="button btn btnAtras" [routerLink]="['/home']" id="btact1">            
                                <span class="icoElipse">
                                    <ion-icon name="arrow-back-outline"></ion-icon>
                                </span>            
                                <span class="btnText">Cancelar</span>
                            </button>
                        </ion-col>
                        <ion-col>
                            <button class="button btn btnAdelante" fill="clear" type="submit" id="btact2">
                                <span class="btnText">Ingresar</span>
                                <span class="icoElipse">
                                    <ion-icon name="arrow-forward-outline"></ion-icon>
                                </span>
                            </button>
                        </ion-col>
                    </ion-grid>
                </form>

            </div>



        </div>
    </div>

</ion-content>