<ion-content class="background" [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Blank</ion-title>
        </ion-toolbar>
    </ion-header>

    <div id="container">
        <img src="../../../assets/img/logo.png" width="150" alt="">
        <br>
        <strong>TUTUM-APP</strong>
        <p id="frase">Haciendo seguras tus necesidades</p>
        <br>
        <ion-button class="btn btnActivo" fill="clear" [routerLink]="['/login']">Ingresar</ion-button>
        <br>
        <ion-button class="btn btnSecundario" fill="clear" [routerLink]="['/registro']">Crear Cuenta</ion-button>
    </div>
</ion-content>